@model disco_app_MVC.Models.Dominio.Disco

@{
    ViewData["Title"] = "Eliminar Disco";
}

<h1>Eliminar</h1>

<h3>Seguro de querer eliminar el disco?</h3>
<div>
    <h4>disco_app_MVC.Models.Dominio.Disco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLanzamiento)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCanciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCanciones)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlTapa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlTapa)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estilo)
        </dt>
        <dd class = "col-sm-10">
            @Model.Estilo.Descripcion
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEdicion)
        </dt>
        <dd class = "col-sm-10">
            @Model.TipoEdicion.Descripcion
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
